<header id="header">
<h1>Login</h1>

<%= form_for @session, url: sessions_path do |f| %>
  <%= render "shared/errors", object: @session %>

  <%= f.email_field "email" %>
  <br />
  <%= f.password_field "password" %>
  <br />
  <%= f.submit "Login" %>
<% end %>
</header>
