<%= form_for(@user) do |f| %>
  <fieldset>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %><br>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %><br>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
