<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class=<%= controller_name_and_action %>>
  <p id="notice">
    <%= notice %>
  </p>

  <%= render "layouts/header" %>

  <%= yield %>
</body>
</html>
